<div class="row">
	<div class="columns">
		<div class="row">
			<div class="columns small-8">
				<h4>Member Types</h4>
			</div>
		<div class="row">
			<div class="columns">
				<ul class="small-block-grid-3">
					<li ng-repeat="type in ctrl.qualifiers.memberTypes">
						<div ng-class="$index == 1 ? 'qualSelected' : ''">{{type.statusCode}} - {{type.description}}</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="columns small-8">
				<h4>Registration Types</h4>
			</div>
		</div>
		<div class="row">
			<div class="columns">
				<ul class="small-block-grid-3">
					<li ng-repeat="type in ctrl.qualifiers.regTypes">
						<div ng-class="$index % 2 == 0 ? 'qualSelected' : ''" >{{type.statusCode}} - {{type.description}}</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="columns ">
				<a href="#" class="button expand success">Save</a>
			</div>
		</div>
	</div>
</div>