<div class="row">
    <div class="columns">
        <div class="row" ng-repeat="(type, statuses) in ctrl.statuses">
            <h4>{{ctrl.getGroupHeaderText(type)}}</h4>
            <div class="row">
                <div class="columns panel">
                    <ul class="small-block-grid-3">
                        <li ng-repeat="status in statuses">
                            <div class="qualifierOption" ng-click="ctrl.toggleSelected($parent.type, status.statusCode)" ng-class="ctrl.isSelected($parent.type, status.statusCode) ? 'qualSelected' : ''">{{status.statusCode}} - {{status.description}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="columns medium-6 large-6">
                <a ng-click="ctrl.close()" class="button expand secondary">Cancel</a>
            </div>
            <div class="columns medium-6 large-6">
                <a ng-click="ctrl.saveAndClose()" class="button expand success">Save</a>
            </div>
        </div>
    </div>
</div>
